<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>p2p chat</title>
</head>
<body>
<h1>Peer to Peer Chat program</h1>
<br>
<span style="color: red" th:text="${errormessage}"></span>
<br>
<form action = "/nick" method="post">
    Your username: <input type="text" name="nickname">
    <input type="Submit" value="update">
</form>
<br>
<ul th:text="${userApp}"></ul>
<span th:text="${defaultMessage}"></span>
<br>

<ul th:each="message: ${messages}">
    <div class="messageBox">
        <h4 class="messageDetails" th:text="${actualUserName}"/>
        <p class="messageDetails" th:text="${message.getText()}"/>
    </div>
</ul>
<form action="/newMessage" method="POST">
    <input type="text" name="newmessage" placeholder="* Enter message *" autofocus>
    <input type="Submit" value="Send" >
</form>




</body>
</html>